body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* custom css */
.w-25 {
  width: 6.25rem;
}
.min-h-76{
  min-height: 76px;
}
.text-gray-light {
  --tw-text-opacity: 1;
  color: rgba(137, 148, 183, var(--tw-text-opacity));
}
.text-white-76 {
  --tw-text-opacity: 0.76;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-red-new {
  --tw-text-opacity: 1;
  color: rgba(255, 72, 90, var(--tw-text-opacity));
}

.bg-blue-light{
  background-color: #F5F7FE;
}
.border-r-3 {
  border-right-width: 3px;
}
.border-b-1 {
  border-bottom-width: 1px;
}
.css-yk16xz-control , .css-1fhf3k1-control{
  background-color: transparent !important;
}
.txtarea-bg-dark-blue{
  --tw-text-opacity: 1;
  background-color: rgba(245, 247, 254, var(--tw-text-opacity));
}
.input-light-border-blue{
  --tw-border-opacity: 1;
  border-color: rgba(224, 229, 245, var(--tw-border-opacity));
}
.light-border-blue{
  --tw-border-opacity: 0.31;
  border-color: rgba(223, 226, 234, var(--tw-border-opacity));
}
.active-border-blue{
  --tw-border-opacity: 1;
  border-color: rgba(137, 148, 183, var(--tw-border-opacity));
}
.border-white-box {
  --tw-border-opacity: 1;
  border-color: rgba(234, 238, 255, var(--tw-border-opacity));
}
.active-bg-tab{
  --tw-text-opacity: 0.25;
  background-color: rgba(234 ,238 ,255 , var(--tw-text-opacity));
}
.tab-blue-font{
  --tw-text-opacity: 1;
  color: rgba(26, 40, 82, var(--tw-text-opacity));
}
.h-17 {
  height: 4.25rem;
}
.h-calc-drawer {
  height: calc(100vh - 80px);
}
.xlg-m-w-768{
  min-width: 768px;
}
.py-3_5{
  padding-top: 0.813rem;
  padding-bottom: 0.813rem;
}
.mw_210{
  max-width: 210px;
}
.bg-blue-850 {
  --tw-bg-opacity: 1;
  background-color: rgba(40, 49, 166, var(--tw-bg-opacity));
}
.text-1_1xl {
  font-size: 1.75rem;
  line-height: 2rem;
}



/* #sidebar-toggle:checked + img {
  display: none;
  } */



/* custom css */
