@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* .bg-blue-850 {
        --tw-bg-opacity: 1;
        background-color: rgba(40, 49, 166, var(--tw-bg-opacity));
    } */
}